body {
  margin: 0px;
  padding: 0px;
}

.navbar-brand-logo {
  margin-left: 136px;
  margin-top: 25px;
}

header {
  margin-top: -50px;
  background-color: red;
}

h3 {
  left: 136px;
}

.nav-link {
  top: 24px;
  margin-right: 32px;
}

span {
  padding: 50px;
}

.bi {
  color: yellow;
}

#FAQ {
  margin-top: 50px;
}
